In [1]:
import pandas as pd

# Read csv file

In [2]:
data = pd.read_csv('../datasets/housing/housing_paml.csv')

In [3]:
print(data.head())

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0             NaN

# Accessing data

In [4]:
print(data['population'])

0         322.0
1        2401.0
2         496.0
3         558.0
4         565.0
          ...
20635     845.0
20636     356.0
20637    1007.0
20638     741.0
20639    1387.0
Name: population, Length: 20640, dtype: float64

In [5]:
print(data.population)
#print(data.population[0]) # index similarily as arrays

0         322.0
1        2401.0
2         496.0
3         558.0
4         565.0
          ...
20635     845.0
20636     356.0
20637    1007.0
20638     741.0
20639    1387.0
Name: population, Length: 20640, dtype: float64

In [6]:
#loc selects rows for elements 2 --> 5 
two_rows = data.loc[2:5]
print(two_rows)
print(two_rows['housing_median_age']) # index into data

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0

   population  households  median_income  median_house_value ocean_proximity
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0             NaN
5         NaN       193.0         4.0368            269700.0        NEAR BAY
2    52.0
3    52.0
4    52.0
5    52.0
Name: housing_median_age, dtype: float64

In [7]:
#iloc selects rows and columns at specific integer positions.
two_rows = data.iloc[[0,1]]
print(two_rows)
print(two_rows['housing_median_age'])

   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
0    41.0
1    21.0
Name: housing_median_age, dtype: float64

In [16]:
#iloc selects first three rows and first two columns at specific integer positions.
# data.iloc[start_row:end_row,start_col:end_col]
three_rows_two_cols = data.iloc[0:3,0:3]
print(three_rows_two_cols)

   longitude  latitude  housing_median_age
0    -122.23     37.88                41.0
1    -122.22     37.86                21.0
2    -122.24     37.85                52.0

# Check for NaN

In [9]:
print(data['housing_median_age'].isnull())

0        False
1        False
2        False
3        False
4        False
         ...
20635    False
20636    False
20637    False
20638    False
20639    False
Name: housing_median_age, Length: 20640, dtype: bool

In [10]:
print(data['housing_median_age'].isnull().sum())

12

In [11]:
data_na = data.dropna()
print(data_na['housing_median_age'].isnull().sum())

0

# Compute Correlation

In [12]:
corr = data.corr()
print(corr)
#print(corr['total_rooms']['total_bedrooms'])

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924599           -0.106605     0.044231
latitude            -0.924599  1.000000            0.009128    -0.035676
housing_median_age  -0.106605  0.009128            1.000000    -0.361014
total_rooms          0.044231 -0.035676           -0.361014     1.000000
total_bedrooms       0.069187 -0.066574           -0.320227     0.930408
population           0.099281 -0.108339           -0.295788     0.857058
households           0.054899 -0.070667           -0.302540     0.918476
median_income       -0.015451 -0.079031           -0.118324     0.197915
median_house_value  -0.046036 -0.143627            0.106464     0.134041

                    total_bedrooms  population  households  median_income  \
longitude                 0.069187    0.099281    0.054899      -0.015451
latitude                 -0.066574   -0.108339   -0.070667      -0.079031
housing_median_age       -0.320227   -0.295788   -0.302540      -0.118324
total_rooms               0.930408    0.857058    0.918476       0.197915
total_bedrooms            1.000000    0.877672    0.979717      -0.007374
population                0.877672    1.000000    0.907149       0.004640
households                0.979717    0.907149    1.000000       0.013007
median_income            -0.007374    0.004640    0.013007       1.000000
median_house_value        0.049949   -0.024871    0.065754       0.688046

                    median_house_value
longitude                    -0.046036
latitude                     -0.143627
housing_median_age            0.106464
total_rooms                   0.134041
total_bedrooms                0.049949
population                   -0.024871
households                    0.065754
median_income                 0.688046
median_house_value            1.000000

In [13]:
corr_population_median_income = data['population'].corr(data['median_income'])
print(corr_population_median_income)

0.0046398335427524084